//COLORS
$dark-red: #de5f5f;
$bright-red: #ff5851;
$yellow: #fdef52;
$blue: #add8e6;
$gray: #343436;
$not-black-but-dark: #1c1b20;
$silver: #f8f8f8;

//GLOBAL STYLES
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	background-size: cover;
	background-repeat: no-repeat;

	color: $gray;
	font-family: monospace;

	transition: background-color 1000ms, border-color 1000ms, color 1000ms;
}

//MIXIN
@mixin flexcenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin verticalCenter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

//MAIN CSS
main {
	//overflow-x: hidden;
	height: 100vh;
	width: 100%;
	background-color: $silver;
	@include flexcenter();

	.dark-mode-btn {
		position: absolute;
		top: 40px;
		left: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		p {
			margin-top: 10px;
		}
	}

	.main-wrapper {
		@include flexcenter();
		flex-direction: column;
		display: inline-block;

		padding: 60px 70px;

		background-color: $silver;
		border: 1.5px solid $gray;

		.title {
			margin-bottom: 40px;
			text-align: center;

			font-size: 2rem;
			font-weight: 900;
		}

		.display-wrapper {
			height: 50px;
			margin-bottom: 60px;
			@include flexcenter();

			.display {
				height: 50px;
				width: 100%;
				background-color: $silver;

				padding: 0 20px;
				line-height: 45px;

				font-size: 1.5rem;
				letter-spacing: 1.5px;

				border: 1.5px solid $gray;
				outline: none;
			}

			#copy {
				height: 100%;
				padding: 0 10px;
				outline: none;
				border: 1.5px solid $gray;
				border-left: none;
				background-color: $gray;
				transition: background-color 0ms, border-color 1000ms;
				@include flexcenter();

				img {
					height: 20px;
					transition-duration: 0ms;
				}

				&:hover {
					cursor: pointer;
					background-color: $silver;

					img {
						filter: invert(1);
					}
				}
			}
		}

		form {
			display: grid;
			grid-template-columns: auto 200px;
			row-gap: 30px;
			column-gap: 50px;
			background-color: $silver;

			label {
				font-size: 1.4rem;
			}

			.range-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;

				span {
					margin-left: 10px;
					font-size: 1.2rem;
				}
			}

			#length {
				-webkit-appearance: none;
				width: 100%;
				height: 5px;
				background: #d3d3d3;
				outline: none;
				-webkit-transition: 0.2s;
				transition: opacity 0.2s;
			}

			#length::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 20px;
				height: 20px;
				background-color: $gray;
				border: 1.5px solid $silver;
				cursor: pointer;
			}

			#length::-moz-range-thumb {
				width: 20px;
				height: 20px;
				background-color: $gray;
				border: 1.5px solid $gray;
				cursor: pointer;
			}

			button {
				margin-top: 30px;
				grid-column: span 2;
				padding: 15px;

				outline: none;

				font-weight: 700;
				font-size: 1.3rem;
				letter-spacing: 2px;

				border: 2px solid $gray;

				background-color: $gray;
				color: $silver;
				transition: background-color 0ms, border-color 1000ms;

				&:hover {
					cursor: pointer;

					background-color: $silver;
					color: $gray;
				}
			}
		}
	}
}

.checkbox {
	display: flex;
	align-items: center;

	input[type='checkbox'] {
		height: 0;
		width: 0;
		visibility: hidden;
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 50px;
		height: 25px;
		background: $gray;
		display: block;
		border-radius: 0px;
		position: relative;
	}

	label:after {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		width: 15px;
		height: 15px;
		background: #f8f8f8;
		//border: 1px solid $gray;
		border-radius: 0px;
		transition: 0.3s;
	}

	input:checked + label:after {
		left: calc(100% - 5px);
		transform: translateX(-100%);
	}
}
